<!DOCTYPE html>
<footer class="bg-neutral-100 py-64 py-md-32">
  <nav class="container d-flex ai-center jc-between mb-24 d-md-block">
    <a href="/pages/index.html">
      <img
        class="mb-md-8"
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
        alt="logo"
      />
    </a>
    <ul class="d-flex ai-center d-md-block">
      <li>
        <a class="py-12 mr-40 px-md-12 mb-md-4" href="/pages/products.html"
          >商品列表</a
        >
      </li>
      <li><a class="py-12 px-md-12" href="/pages/story.html">品牌故事</a></li>
    </ul>
  </nav>
  <div class="footer bg-neutral-100 text-sm text-neutral-600">
    <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
