<!DOCTYPE html>
<header class="container py-16 py-md-12 d-flex ai-center jc-between">
  <ul class="d-flex ai-center">
    <li>
      <a class="" href="./index.html">
        <img src="/assets/images/logo.svg" alt="logo-index" />
      </a>
    </li>
    <li>
      <a class="py-12 ml-48 d-md-none" href="./products.html">商品列表</a>
    </li>
    <li><a class="py-12 ml-40 d-md-none" href="./story.html">品牌故事</a></li>
  </ul>
  <a href="#" class="p-12"><i class="bi bi-person"></i></a>
</header>
