.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: $neutral-300;
  font-weight: 700;
}
@media (max-width: 576px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
}

.breadcrumb-item {
  display: flex;
}
